* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

play-button {
  font-size: large;
}
h1,
h2,
h3 {
  color: rgb(36, 33, 33);
}

* {
    font-family: 'Alegreya Sans SC', sans-serif;
}




@import "./MusicPlayer";
@import "./track";
@import "./MusicLibrary";
@import "/src/styles/toggelLibrary"